.wrapper

  .signup__step1
    = render "signup_header"

  %main.signup__main
    %h2.signup__main__header
      = "会員情報入力"
    = form_for "#" do |f|
      .signup__main__content
        .form__group
          = f.label :nickname, "ニックネーム"
          %sapn.form__require 必須
          = f.text_field :content, class: "input__nomal", placeholder: "例)メルカリ太郎"
        .form__group
          = f.label :email, "メールアドレス"
          %sapn.form__require 必須
          = f.email_field :content, class: "input__nomal", placeholder: "PC・携帯どちらでも可"
        .form__group
          = f.label :password, "パスワード"
          %sapn.form__require 必須
          = f.password_field :content, class: "input__nomal", placeholder: "7文字以上"
        .form__group
          %h3.identification
            = "本人確認"
          .identification__text
            = "安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。"
        .form__group
          = f.label :name, "お名前(全角)"
          %sapn.form__require 必須
          .form__group__name__kanzi
            = f.text_field :content, class: "input__half", placeholder: "例)山田"
            = f.text_field :content, class: "input__half", placeholder: "例)彩"
        .form__group
          = f.label :name_kana, "お名前カナ(全角)"
          %sapn.form__require 必須
          .form__group__name__kana
            = f.text_field :content, class: "input__half", placeholder: "例)ヤマダ"
            = f.text_field :content, class: "input__half", placeholder: "例)アヤ"
        .form__group
          = f.label :birthday, "生年月日"
          %sapn.form__require 必須
          .form__birtyday
            != sprintf(f.date_select(:birthday, use_month_numbers: true, prompt:"--", date_separator: '%s', start_year: Time.now.year, end_year: 1930), '年','月') + '日'
        %p.precautions
          = "※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。"
        .form__group
          %p.consent
            = "「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします"
        .form__group
          = f.submit "次へ進む",class: "signup__submit__btn"
        .form__reason
          = link_to "#" do
            = "本人情報の登録について"
            %i.fa.fa-angle-right

  = render "simple_footer"