.wrapper

  .container
  = render "shared/productsindexheader/" 

  - breadcrumb :personal_information
  = render partial:"shared/breadcrumbs"

  .container.clearfix
    .container-main
      .mypage-title
        .title
          本人情報の登録
      = form_for '#' , html: {class: 'form'} do |f|
        .p
        お客さまの本人情報をご登録ください。
        <br>
        登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
        .text-right
          .p
          = link_to "本人確認書類のアップロードについて>", method: :get, class: 'title'
        .form-group
          .m
            お名前
          .p
            てっくたろう
        .form-group
          .m
            お名前カナ
          .p
            てっくたろう
        .form-group
          .m
            生年月日
          .p
            2000/10/10
        .form-group
          .m
            郵便番号
            .tag-not-required 任意
          = f.text_field :number, class: "input-form", placeholder: ' 例) 1234567'
        .form-group
          .m
            都道府県
            .tag-not-required 任意
          = f.collection_select :area, Prefecture.all, :id, :name, prompt: "--", class: 'select-form'
        .form-group
          .m
            市区町村
            .tag-not-required 任意
          = f.text_field :a, class: "input-form", placeholder: ' 例) 東京都世田谷区'
        .form-group
          .m
            番地
            .tag-not-required 任意
          = f.text_field :a, class: "input-form", placeholder: '例 ) 11-11'
        .form-group
          .m
            建物名
            .tag-not-required 任意
          = f.text_field :a, class: "input-form", placeholder: ' 例) 柳ビル101'
        .form-group
        %input.form-btn-right{type: "submit", value: "登録する"}/
        .text-right
          .p
          = link_to "本人情報の登録について>", method: :get, class: 'title'

    = render "users/mypage-nav"

  = render 'shared/productsindexadvertisement'
  = render 'shared/productsindexfooter'
  = render "products/sell-btn"
