.signout
  = render "shared/productsindexheader/" 
  -# = render "shared/breadcrumbs";

  .singout-container.clearfix
    .right-box
      .right-box__inside
        .right-box__inside--button
          =link_to destroy_user_session_path, method: :delete, class: "button-link" do
            ログアウト
    
    = render "users/mypage-nav"
  = render 'shared/productsindexadvertisement'
  = render 'shared/productsindexfooter'
  = render 'products/sell-btn'