.pager
  %ul.pagination
    %li.pre
      = link_to "#" do
        %span «
    %li
      = link_to "#" do
        %span 1
    %li
      = link_to "#" do
        %span 2
    %li
      = link_to "#" do
        %span 3
    %li
      = link_to "#" do
        %span 4
    %li
      = link_to "#" do
        %span 5
    %li.next
      = link_to "#" do
        %span »
