.wrapper
  = render partial:"shared/productsindexheader"
  = render partial:"shared/breadcrumbs"
  .container
    %main.l--container
      .m--content
        %h2.chapter-head1 お支払い方法
        .single-inner
          .section
            .l-single-content
              %h3.credit クレジットカード一覧
              %ul.setting-pyment-list
                %li
                  %form.l-single-content
                    .figure
                      = image_tag "/assets/jcb-card.png",height: "30", width: "36",class: "image"
                      %input.button.button-red{type:"submit", value:"削除する"}/
                    .settings-payment-num **** **** 4242
                    .settings-payment-num2 01 / 24
            
          
          .buttons
            = link_to "支払い方法について>", edit_card_path, class:"abc"
          
        
      .lside
        = render partial:"users/mypage-nav"
  = render partial:"shared/productsindexfooter"
