.updatebody
  .top1
    .top1__image
      = link_to products_path do
        = image_tag "fmarket_logo_red.svg", class: "icon"

  .main1
    .main1__line
      .main1__line__contener
        .main1__line__contener__head
          本当に削除しますか。
          = link_to "商品を削除する", product_path(@product.id), method: :delete, class: "destroy"

          = link_to root_path, class: "no" do 
            もどる  
  .next
  = render "signup/simple_footer"




