.body
  
  .contener

    .top
      .top__image
        = link_to products_path do
          = image_tag "fmarket_logo_red.svg", class: "icon"

    .main
      .main__line
        .main__line__contener
        = form_for (@product) do |f|
          .main__line__contener__head
            商品の情報を入力

          .main__line__contener__form
           
            .main__line__contener__form__upload
              .main__line__contener__form__upload__top
                出品画像
                %sapn.require 必須
              .main__line__contener__form__upload__under
                最大10枚までアップロードできます
              .main__line__contener__form__upload__image.clearfix
                = f.label :image, class: '#',for: 'product_product_images_attributes_0_image' do
                  .main__line__contener__form__upload__image__container
                    .main__line__contener__form__upload__image__container__sell
                
                  .main__line__contener__form__upload__image__box

                    = f.fields_for :product_images do |image|
                      .js-file_group{"data-id":image.index}
                        = image.file_field :image, class: 'hidden',"data-id":image.index

                    -# = f.file_field :image, class: 'hidden'
                    %p.list
                      ドラッグアンドドロップ
                      またはクリックしてファイルをアップロード
                    
          .main__line__contener__item
            .main__line__contener__item__name
              商品名
              %sapn.require 必須
            .main__line__contener__item__name-box
              = f.text_field :name, class: 'input-name', placeholder: "  商品名（必須 40文字まで)"
            .main__line__contener__item__explain
              商品の説明
              %sapn.require 必須
            .main__line__contener__item__explain-box
              = f.text_area :description, placeholder: '商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。', class: "input-explain", rows: '5'
          .main__line__contener__item__detail.clearfix
            %h3.left 商品の詳細
            .main__line__contener__item__detail__right
              .main__line__contener__item__detail__right__category
                カテゴリー
                %sapn.require 必須
              .main__line__contener__item__detail__right__category-form
                = f.collection_select :category_id, Category.where(ancestry: nil), :id, :name, prompt: "--", class: 'select-category'
              .main__line__contener__item__detail__right__size
                サイズ
                %sapn.require 必須
              .main__line__contener__item__detail__right__size-form
                = f.collection_select :pattern_id, Pattern.all, :id, :name, prompt: "--", class: 'select-size'
              .main__line__contener__item__detail__right__brand
                ブランド
                %sapn.require2 任意
              .main__line__contener__item__detail__right__brand-form
                = f.collection_select :brand_id, Brand.all, :id, :name, {}, class: 'select-category'
              .main__line__contener__item__detail__right__state
                商品の状態
                %sapn.require 必須
              .main__line__contener__item__detail__right__state-form
                = f.collection_select :condition_id, Condition.all, :id, :name, prompt: "--", class: 'select-state'

          .main__line__contener__item__send.clearfix
            %h3.left 配送について
            .main__line__contener__item__send__right 
              .main__line__contener__item__send__right__burden
                配送料の負担
                %sapn.require 必須
              .main__line__contener__item__send__right__burden-form
                = f.collection_select :burden_id, Burden.all, :id, :name, prompt: "--", class: 'select-burden'
              .main__line__contener__item__send__right__method
                配送の方法
                %sapn.require 必須
              .main__line__contener__item__send__right__method-form
                = f.collection_select :delivery_id, Delivery.all, :id, :name, prompt: "--", class: 'select-burden'
              .main__line__contener__item__send__right__area
                発送元の地域
                %sapn.require 必須
              .main__line__contener__item__send__right__area-form
                = f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "--", class: 'select-area'
                
              .main__line__contener__item__send__right__date
                発送までの日数
                %sapn.require 必須
              .main__line__contener__item__send__right__date-form
                = f.collection_select :sending_id, Sending.all, :id, :name, prompt: "--", class: 'select-date'
          .main__line__contener__item__price.clearfix
            %h3.left 販売価格(300~9,999,999)
            .main__line__contener__item__price__right 
              .main__line__contener__item__price__right
                .main__line__contener__item__price__right__top
                  .main__line__contener__item__price__right__top__box.clearfix
                    .main__line__contener__item__price__right__top__box__left
                      価格
                      %sapn.require1 必須
                    .main__line__contener__item__price__right__top__box__right
                      ¥
                      .main__line__contener__item__price__right__top__box__right__box
                        = f.text_field :price, class: 'input-price', placeholder: "例）300  "
                  
                .main__line__contener__item__price__right__middle.clearfix
                  .main__line__contener__item__price__right__middle__left
                    販売手数料(10%)
                  .main__line__contener__item__price__right__middle__right
                    ー
                
                .main__line__contener__item__price__right__bottom.clearfix
                  .main__line__contener__item__price__right__bottom__left
                    販売利益
                  .main__line__contener__item__price__right__bottom__right
                    ー

          .main__line__contener__item__final
            .main__line__contener__item__final__top
              = link_to "#", class: "blue" do
                禁止されている出品
              、
              = link_to "#", class: "blue" do
                行為
              を必ずご確認ください。
              またブランド品でシリアルナンバー等がある場合はご記載ください。
              = link_to "#", class: "blue" do
                偽ブランドの販売
              は犯罪であり処罰される可能性があります。
              また、出品をもちまして
              = link_to "#", class: "blue" do
                加盟店規約
              に同意したことになります。

            = f.submit "出品する", class: 'red'
            
            = link_to root_path, class: "gray" do 
              もどる

  = render "signup/simple_footer"
 
      

        
      
