.body
  
  .contener

    .header
      .header__image
        = image_tag "/assets/fmarket_logo_red.svg", class: "icon"

    .main
      .main__line
        .main__line__contener
        = form_for (@product) do |f|
          .main__line__contener__head
            商品の情報を入力

          .main__line__contener__form
           
            .main__line__contener__form__upload
              .main__line__contener__form__upload__top
                出品画像
              .main__line__contener__form__upload__under
                最大10枚までアップロードできます
              .main__line__contener__form__upload__image.clearfix
                .main__line__contener__form__upload__image__container
                  .main__line__contener__form__upload__image__container__sell
                .main__line__contener__form__upload__image__box
                  %p.list
                    ドラッグアンドドロップ
                    またはクリックしてファイルをアップロード
                = f.file_field :image, class: 'hidden'
                    
          .main__line__contener__item
            .main__line__contener__item__name
              商品名
            .main__line__contener__item__name-box
              = f.text_field :name, class: 'input-name', placeholder: "  商品名（必須 40文字まで)"
            .main__line__contener__item__explain
              商品の説明
            .main__line__contener__item__explain-box
              = f.text_area :description, placeholder: '商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。', class: "input-explain", rows: '5'
          .main__line__contener__item__detail.clearfix
            %h3.left 商品の詳細
            .main__line__contener__item__detail__right
              .main__line__contener__item__detail__right__category
                カテゴリー
              .main__line__contener__item__detail__right__category-form
                =f.select :category,['---','レディース','メンズ','ベビー・キッズ','インテリア・住まい・小物','本・音楽・ゲーム','おもちゃ・ホビー・グッズ','コスメ・香水・美容','家電・スマホ・カメラ','スポーツ・レジャー','ハンドメイド','チケット','自動車・オートバイ','その他'], {}, class: "select-category"

              .main__line__contener__item__detail__right__state
                商品の状態
              .main__line__contener__item__detail__right__state-form
                =f.select :status,['---','新品、未使用','未使用に近い','目立った傷や汚れなし','やや傷や汚れあり','傷や汚れあり','全体的に状態が悪い'], {}, class: "select-state"

          .main__line__contener__item__send.clearfix
            %h3.left 配送について
            .main__line__contener__item__send__right 
              .main__line__contener__item__send__right__burden
                配送料の負担
              .main__line__contener__item__send__right__burden-form
                =f.select :fee,['---','送料込み(出品者負担)','着払い(購入者負担)'], {}, class: "select-burden"
              
              .main__line__contener__item__send__right__area
                発送元の地域
              .main__line__contener__item__send__right__area-form
                = f.select :area,['---','北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県', '福岡県', '佐賀県', '長崎県', '熊本県', '大分県', '宮城県', '鹿児島県', '沖縄県'], {}, class: "select-area"
                
              .main__line__contener__item__send__right__date
                発送までの日数
              .main__line__contener__item__send__right__date-form
                =f.select :date,['---','1~2日で発送','2~3日で発送','4~7日で発送'], {}, class: "select-date"
          
          .main__line__contener__item__price.clearfix
            %h3.left 販売価格(300~9,999,999)
            .main__line__contener__item__price__right 
              .main__line__contener__item__price__right
                .main__line__contener__item__price__right__top
                  .main__line__contener__item__price__right__top__box.clearfix
                    .main__line__contener__item__price__right__top__box__left
                      価格
                    .main__line__contener__item__price__right__top__box__right
                      ¥
                      .main__line__contener__item__price__right__top__box__right__box
                        = f.text_field :name, class: 'input-price', placeholder: "例）300  "
                  
                .main__line__contener__item__price__right__middle.clearfix
                  .main__line__contener__item__price__right__middle__left
                    販売手数料(10%)
                  .main__line__contener__item__price__right__middle__right
                    ー
                
                .main__line__contener__item__price__right__bottom.clearfix
                  .main__line__contener__item__price__right__bottom__left
                    販売利益
                  .main__line__contener__item__price__right__bottom__right
                    ー

          .main__line__contener__item__final
            .main__line__contener__item__final__top
              = link_to "#", class: "blue" do
                禁止されている出品
              、
              = link_to "#", class: "blue" do
                行為
              を必ずご確認ください。
              またブランド品でシリアルナンバー等がある場合はご記載ください。
              = link_to "#", class: "blue" do
                偽ブランドの販売
              は犯罪であり処罰される可能性があります。
              また、出品をもちまして
              = link_to "#", class: "blue" do
                加盟店規約
              に同意したことになります。

            = f.submit "出品する", class: 'red'
            
            = link_to root_path, class: "gray" do 
              もどる
 
      

        
      
