.not
  
  = render "shared/productsindexheader/" 

  .page-not-found.clearfix
    .page-not-found__content
      .error404
        .error404__text-big
          ページが見つかりませんでした。
        .error404__text-small 
          お探しのページはアドレスが間違っているか、
          削除された可能性があります。
        = image_tag 'logo_gray.svg', class: "error404__image", alt: "ページが見つかりません"
    .fmarket-link
      .fmarket-link__banner
        .fmarket-link__banner--app
          .fmarket-text
            今すぐ無料
            ダウンロード
            スマホで簡単フリマアプリ
            Fmarket
          = image_tag "logo_white.svg", class: "fmarket-app", alt: "Download fmarket Now"
  
  = render 'shared/productsindexadvertisement'
  = render 'shared/productsindexfooter'
  = render partial: 'sell-btn'
  
