.body

  = render "shared/productsindexheader/" 

  .item-field
    .item-name
      = @product.name
    .item-content.clearfix
      .item-content__photo
        .owl-carousel.owl-loaded.owl-drag
          .owl-stage-outer
            .owl-stage
              .owl-item
                .owl-item__inner
                  - @product.product_images.each do |image|
                    = image_tag "#{image.image}", class: "owl-lazy", alt: "#{@product.name}"
          .owl-dots
            - @product.product_images.each do |image|
              = image_tag "#{image.image}", class: "owl-dot", alt: "#{@product.name}"
      %table.item-content__detail
        %tbody
          %tr
            %th 出品者
            %td
              = link_to "#" do
                = @product.user.nickname
              .icons
                .item-user-rating
                  = fa_icon "smile-o", class: "icon-good"
                  %span 155
                .item-user-rating
                  = fa_icon "meh-o", class: "icon-normal"
                  %span 3
                .item-user-rating
                  = fa_icon "frown-o", class: "icon-bad"
                  %span 0
          %tr
            %th カテゴリー
            %td
              = link_to "#" do
                %div
                  = @product.category.ancestry
              = link_to "#" do
                .item-category
                  = fa_icon "arrow-right", class: "icon"
                  = @product.category.name
          %tr
            %th ブランド
            %td
              = link_to "#" do
                %div 
                  = @product.brand.name
          %tr
            %th 商品のサイズ
            %td 
              = @product.size
          %tr
            %th 商品の状態
            %td 
              = @product.condition
          %tr
            %th 配達料の負担
            %td 
              = @product.fee
          %tr
            %th 配送の方法
            %td ヤマト
          %tr
            %th 配送元地域
            %td 
              = link_to "#" do
                = @product.area
          %tr
            %th 配送の目安
            %td 
              = @product.date
    .item-payment-box
      %span.item-payment-box__price
        = fa_icon "yen"
        = @product.price.to_s(:delimited)
      %span.item-payment-box__tax (税込)
      %span.item-payment-box__shipping-fee 送料込み

    - if user_signed_in? && current_user.id == @product.user_id
      = link_to "商品を編集する", edit_product_path(@product.id,@product.product_images), class: "button"
      = link_to "商品を削除する", product_path(@product.id), method: :delete, class: "button1"
    - else
      = link_to "購入画面に進む", purchase_product_path(@product.id), class: "button"

    .item-description
      .item-description__content
        = @product.description
    .item-button-opinion.clearfix
      .item-button-opinion__left-side
        %button.item-button-opinion__left-side--like{ type: "button", name: "like!" }
          = fa_icon "heart-o", class: "item__button-like"
          %span いいね!
          %span.fade-in-down 8
        .item-button-opinion__left-side--report.clearfix
          = fa_icon "flag-checkered", class: "item__button-report"
          %span 不適切な商品の報告 
          %input{ type: "hidden", name: "#", value: "#"}
      .item-button-opinion__right-side
        = link_to "#" do
          = fa_icon "lock"
          %span あんしん・あんぜんへの取り組み
          
  .comment
    .comment__content
      .comment__content--box
        %form.comment-form{ action: "#", method: "#" }
          %input{ type: "hidden", name: "#", value: "#" }
          %p 相手のことを考えて丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %input{ type: "hidden", name: "#", value: "#" }
          %textarea.input-field{ type: "text", name: "body", value: ""}
          %button.comment-submit{ type: "submit" }
            %span コメントする
  .item-link.clearfix
    .item-link__prev
      - if @product.previous.present?
        = fa_icon "arrow-left", class: "prev"
        = link_to product_path(@product.previous) do
          = @product.previous.name
    .item-link__next
      - if @product.next.present?
        = link_to product_path(@product.next) do
          = @product.next.name
        = fa_icon "arrow-right", class: "next"
  .social-media
    .social-media__icons
      %li.social-icon.facebook
        %a.social-media__icons--link{ href: "#", target: "_blank" }
          %i.fa.fa-facebook.fa-2x
      %li.social-icon.twitter
        %a.social-media__icons--link{ href: "#", target: "_blank" }
          %i.fa.fa-twitter.fa-2x
      %li.social-icon.pinterest
        %a.social-media__icons--link{ href: "#", target: "_blank" }
          %i.fa.fa-pinterest.fa-2x

  - breadcrumb :product
  = render partial:"shared/breadcrumbs"
  = render 'shared/productsindexadvertisement'
  = render 'shared/productsindexfooter'